.basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.final_order {
    margin-inline: auto;
    width: 15vw;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:0.5rem 0rem;
    border-radius: 0.5rem;
}
.checkout_button {
    border:none;
    background-color: white;
}
.button_add_remove {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    background-color:  rgb(216, 146, 186);
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
}
.cart {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}