.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    margin-block-start: 1rem;
    background-color: #de82a2;
}

.footer_text {
    height: 3rem;
    margin-inline-end: 0;
}