
.product_style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.title_b {
    text-align: center;
    margin: 3rem;
    padding: 0.5rem;
    color: palevioletred;
    font-family: cursive;
}