.carouselItem {
  text-align: center;
  position: relative;
}

.altText {
  color: black;
  font-size: 2rem;
}

.captionText {
  color: blue;
}


@media (max-width: 600px) {
  .carouselItem img {
    width: 100%;
    height: auto;
  }
  
  
  
}