.button {
    margin-block-start: 3rem;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    border-radius: 20%;
    font-size: 1.4rem;
    

}

.text {
    text-decoration: none;
    
}