.content {
    grid-row: 1/2;
    border-radius: 0.5em;
    background-color: var(--secondary-color);
    min-height: 80vh;
    @media screen and (min-width: 48em) {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .addPage {
        padding-block: 1.5em; 
        text-align: center;
        .info {
            padding-block-end: 2em;
            padding-block-start: 1em;
        }
        .infoAlert {
            color: red;
            font-weight: bold;
        }
        .addForm {
            display: grid;
            text-align: center;
            .invalid {
                border: 0.3em solid red;
            }
            textarea {
                border: 0;
                resize: none; 
                white-space: pre-wrap;
                text-align: center;
                border-radius: 0.5em;
                padding-block-start: 1em;
                text-align: center;
                width: 90%;
                max-width: 30em;
                min-height: 5em;
                margin: 0.8em;
                justify-self: center;
                background-color: var(--primary-color);
                color: var(--text-color);
                border: 0.3em solid transparent;
                &::placeholder{
                    color: var(--text-color);
                    font-family: 'Roboto Condensed', sans-serif;
                }
            }
            button {
                all: unset;
                width: 40%;
                max-width: 6em;
                margin-inline: auto;
                margin-block: 1em;
                padding-inline: 1em;
                padding-block: 0.5em;
                border-radius: 0.5em;
                background-color:var(--third-color);
                color: var(--text-color);
                &:hover {
                    background-color: var(--fourth-color);
                }
            }
        }
    }
}