.content {
    grid-row: 1/2;
    border-radius: 0.5em;
    background-color: var(--secondary-color);
    min-height: 80vh;
    @media screen and (min-width: 48em) {
        grid-row: 1/2;
        grid-column: 1/2;
    }
}
.expressionsList {
    display: grid;
    justify-items: center;
    margin-block-end: 1.5em;
    .end {
        margin-block: 1.5em;
    }
}