.expressionWidget {
    padding: 0 0.5em 1.5em 0.5em;
    h2 {
        text-align: center;
    }
    .expressionCardButton {
        text-decoration: none;
        color: var(--text-color);
        .expressionCard {
            width: 85%;
            margin-inline: auto;
            padding: 1em;
            margin-block-start: 1em;
            border-radius: 0.5em;
            background-color: var(--third-color);

            .firstRow {
                display: flex;
                justify-content: space-between;
                .expression {
                    font-weight: bold;
                    font-size: x-large;
                }
                .share {
                        width: 8.5%;
                        max-width: 1.7em;
                        img {
                            width: 100%;
                        }
                }
            }            
            .explication {
                padding-block-start: 0.5em;
            }
            .example {
                font-style: italic;
                padding-block-start: 0.8em;
            }
            .cardInfo {
                padding-block-start: 1em;
                .author {
                    font-weight: bold;
                    cursor: pointer;
                    color: var(--clickable-color);
                    &:hover {
                        color: var(--button-color-hover);
                    }
                }
                .date {
                    font-weight: bold;
                    color: var(--clickable-color);
                }
            }
            .lastRow {
                display: flex;
                justify-content: space-between;
                padding-block-start: 1em;
                .likesSystem {
                    display: flex;
                    border-radius: 0.5em;
                    border: 0.0625em solid var(--fourth-color);
                    .likePart {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        text-decoration: none;
                        border-inline-end: 0.0625em solid var(--fourth-color);
                        color: var(--text-color);
                        img {
                            width: 30%;
                            max-width: 1.7em;
                        }
                        .likes {
                            margin-block: auto;
                        }
                    }
                    .dislikePart {
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        text-decoration: none;
                        color: var(--text-color);
                        img {
                            width: 30%;
                            max-width: 1.7em;
                        }
                        .dislikes {
                            margin-block: auto;
                        }
                    }
                }
                .report {
                    width: 8.5%;
                    max-width: 1.7em;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}